# --- FRAMEWORK I SERWER ---
Django
gunicorn
dj-database-url
psycopg2-binary
whitenoise
python-dotenv

# --- ANALIZA DANYCH ---
pandas
numpy
numpy-financial
pyxirr

# --- ZEWNĘTRZNE API I NARZĘDZIA ---
yfinance
feedparser
requests
openpyxl
beautifulsoup4
lxml
argon2-cffi
django-allauth
PyJWT
